<div class="BODY">
  <div id="head" class="main" style="height: 152.4vh">
    <div class="menu">
      <h2 id="logo"><a routerLink="../portfolio">Menu</a></h2>
      <a (click)="code(-1)">Gotowe programy</a>
      <a style="background-color: rgb(194, 156, 19);" (click)="getRandomGIF()">Gif :)</a>
      <a *ngFor="let item of subjetcs" (click)="code(item.Subject_number)">{{item.Subject_number}}.
        {{item.Subject_name}}</a>

    </div>
    <div class="body">
      <hr>
      <h1 class="nazwa_grupy_zajeciowej">Education-IT</h1>
      <hr>
      <div *ngIf="numer != -1 && numer!=ile">
        <fieldset>
          <legend> Podsumowanie </legend>
          <h2 id="imie_nazwisko">{{subjetcs[numer].Subject_number}}. {{subjetcs[numer].Subject_name}}</h2>
          <br>
          <span>Streszczenie zajęć:</span>

          <div class="summary">
            <pre><p>{{subjetcs[numer].Subject_summary}}</p></pre>
          </div>

          <br><br>

          <span>Wyzwanie domowe:</span>
          <div class="homework">
            <pre><p>{{subjetcs[numer].Subject_homework}}</p></pre>
          </div>
          <div class="gif" *ngIf="url != undefined"><img src="{{url}}"></div>
        </fieldset>
      </div>


      <div *ngIf="numer == ile">
        <fieldset>
          <legend> Podsumowanie </legend>
          <h2 id="imie_nazwisko">{{subjetcs[ile].Subject_number}}. {{subjetcs[ile].Subject_name}}</h2>
          <br>
          <span>Streszczenie zajęć:</span>

          <div class="summary">
            <pre><p>{{subjetcs[ile].Subject_summary}}</p></pre>
          </div>

          <br><br>

          <span>Wyzwanie domowe:</span>
          <div class="homework">
            <pre><p>{{subjetcs[ile].Subject_homework}}</p></pre>
          </div>
          <div class="gif" *ngIf="url != undefined"><img src="{{url}}"></div>
        </fieldset>
      </div>

      <div *ngIf="numer == -1 &&  codes == 0">
        <h2 id="imie_nazwisko">Gotowe programy w języku:</h2>
        <br>
        <div id="student">
          <ul>
            <li class="left"><b><button (click)="codeF(1)">MakeCode</button></b>

            </li>

            <li class="right"><b><button id="green" (click)="codeF(2)">Python</button></b>

            </li>
          </ul>

        </div>
        <div class="gif" *ngIf="url != undefined"><img src="{{url}}"></div>
      </div>


      <div *ngIf="numer == -1 &&  codes == 1">
        <h2 id="imie_nazwisko">Gotowe programy w języku MakeCode:</h2>
        <br>
        <div class="summary">
          <p>Podręcznik 2:</p>
          <ol>
            <li><a href="../../assets/MakeCode/MakeCode-agentRace.mkcd" download>Wyścigi Agentów</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-babaJaga.mkcd" download>Raz, dwa, trzy - baba Jaga
                patrzy!</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-chickenHunt.mkcd" download>Chicken Hunt</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-fallGuys.mkcd" download>Fall Guys</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-metropolia.mkcd" download>Nasza Metropolia</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-parkour.mkcd" download>Parkour</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-wulkan.mkcd" download>Wulkan</a></li>
            <li><a href="../../assets/MakeCode/MakeCode-zegar.mkcd" download>Zegar</a></li>
          </ol>
        </div>
      </div>

      <div *ngIf="numer == -1 &&  codes == 2">
        <h2 id="imie_nazwisko">Gotowe programy w języku Python:</h2>
        <br>
        <div class="summary">
          <p>Grupa Python_001:</p>
          <ol>
            <li><a href="../../assets/PYTHON/funkcje.py" download>Funkcje - wprowadzenie.</a></li>
            <li><a href="../../assets/PYTHON/klasy_obiekty_1.py" download>Klasy i Obiekty - wprowadzenie</a></li>
            <li><a href="../../assets/PYTHON/klasy_obiekty2.py" download>Klasy i Obiekty - funkcja __init__</a></li>
            
          </ol>
        </div>

      </div>

      <hr style="margin-top:100px">

    </div>
  </div>
</div>
<router-outlet></router-outlet>